<div class="home-container d-flex align-content-center justify-content-center">
    <!-- LOCATION -->
    <location *ngIf="location$; else noLocation"
        [latitude]="location$.lat" [longitude]="location$.lng"
        (onClearLocation)="openClearLocationModal($event)">

        <!-- CLEAR -->
        <button class="clear btn btn-outline-secondary" (click)="openClearLocationModal($event)">Clear</button>
    </location>
</div>

<!-- NO LOCATION SAVED YET -->
<ng-template #noLocation >
    <div class="row align-self-center">
        your location is still unknown
    </div>
</ng-template>
