<div class="location-container">
    <!-- MAP -->
    <div id="mapid"></div>

    <!-- LOCATION -->
    <location [latitude]="currentLocation?.lat" [longitude]="currentLocation?.lng"
        (onLocationChange)="onLocationChange($event)"
        (onLoadLocation)="onLoadLocation($event)"
        (onSaveLocation)="onSaveLocation($event)">

            <!-- LOAD -->
            <button class="load btn btn-outline-secondary" (click)="onLoadLocation($event)">Load</button>

            <!-- CLEAR -->
            <button class="save btn btn-outline-secondary" (click)="onSaveLocation($event)">Save</button>
    </location>
</div>
