<!--The content below is only a placeholder and can be replaced.-->
<div class="">
    <h1>
        Welcome to {{title}}!
    </h1>

    <!-- <navbar></navbar> -->

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="">Home</a></li>
                <!-- <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="loc">Location</a></li> -->
            </ul>
        </div>
    </nav>

    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> <!-- #1 --
                <a class="navbar-brand">Project Manager</a>
            </div>
             <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                </ul>
            </div> <!-- #2 --
        </div>
    </nav> -->



    <router-outlet></router-outlet>

    

</div>
