<div class="location fluid-container fixed-bottom">
    <div class="container">
        <div class="row">Your last location</div>
        <div class="row align-items-center fields-wrapper">
            <label for="latitude" class="col-1 col-form-label">Latitude</label>
            <div class="col-2">
                <input type="text" name="lat" min="-90" max="90"
                class="form-control" name="latitude" id="latitude"
                data-fv-between-message="The latitude must be between -90.0 and 90.0"
                [(ngModel)]="lat" pattern="{{VALID_LAT_LON}}"
                (change)="handleLocationChange($event, 'lat')">
            </div>

            <label for="longitude" class="col-1 col-form-label">longitude</label>
            <div class="col-2">
                <input type="text" min="-180" max="180"
                class="form-control" name="longitude" id="longitude"
                data-fv-between-message="The longitude must be between -180.0 and 180.0"
                [(ngModel)]="lng" pattern="{{VALID_LAT_LON}}"
                (change)="handleLocationChange($event, 'lng')">
            </div>
            <!-- ^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6} -->

            <div class="col">
                <div class="d-flex align-items-end flex-column row">
                    <div class="actions">
                        <button class="clear btn btn-outline-secondary" (click)="handleClearLocation()"
                        [disabled]="!lat && !lng">Clear</button>
                        <button class="load btn btn-outline-secondary" (click)="handleLoadLocation()">Load</button>
                        <button class="save btn btn-outline-secondary" (click)="handleSaveLocation()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
